@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import './modal.css';

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

header {
	display: flex;
	gap: 1rem;
	margin: 1rem 2rem;
	padding: 1rem 0;
}

main {
	margin: 1rem 2rem;
}

.btn {
	display: inline-flex;
	padding: 0.3rem 0.5rem;
}

.btn svg {
	pointer-events: none;
}

.tasks-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #dcdde1;
}
.tasks-header .title {
	margin: 0;
}
.tasks-header .remaining-tasks {
	font-weight: lighter;
	color: #718093;
}

.tasks-table {
	border: 1px solid #dcdde1;
	padding: 0.5rem;
}

.tasks-table table {
	width: 100%;
}

.tasks-table thead {
	background-color: #dcdde1;
}

.tasks-table tbody tr td {
	padding: 0.5rem;
}

.tasks-table [data-sortable] {
	cursor: pointer;
}
.tasks-table [data-sortable]::after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.25rem;
	vertical-align: middle;
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0em;
	border-left: 0.3em solid transparent;
}
.tasks-table [data-sortable].active {
	color: #5294eb;
}
.tasks-table [data-sortable].active.asc::after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.25rem;
	vertical-align: middle;
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0em;
	border-left: 0.3em solid transparent;
}
.tasks-table [data-sortable]:hover {
	color: #718093;
}
.tasks-table [data-sortable].desc::after {
	content: '';
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.25rem;
	margin-bottom: 0.5rem;
	vertical-align: middle;
	border-top: 0.3em solid transparent;
	border-right: 0.3em solid transparent;
	border-bottom: 0.3em solid;
	border-left: 0.3em solid transparent;
}

/* .task-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	list-style: none;
	padding: 1rem;
	margin: 0;
	background-color: #f5f6fa;
}

.task-item {
	background-color: #dcdde1;
}

.task {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	padding: 0.5rem 1rem;
}

.task .task-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.task .task-header .title {
	margin: 0;
}

.task .task-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.task .task-buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
} */
